@page "/FunctionPage"
@using  MintClientControl.ViewModels
@using MintClientControl.Components
@inherits FetchDataBase

<h3>FunctionView</h3>
<p>This component demonstrates fetching data from the server.</p>

@if (ViewModel.FunctionList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Functions</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var function in ViewModel.FunctionList)
            {
                <tr>
                    <td><button @onclick="@(e => ViewModel.SendCommand(function.Command))">@function.Title</button></td>
                    <td>@function.Title</td>
                    <td><button @onclick="@(e => ViewModel.DeleteItem(function))">Remove</button></td>
                </tr>
            }
        </tbody>
    </table>

}
<button @onclick="() => modal.Open()">Open Modal</button>
<ModalDialog @ref="modal">
    <Title>This is a <em>Title!</em></Title>
    <Body>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Omnes enim iucundum motum, quo sensus hilaretur.
            <i>Quis istud possit, inquit, negare?</i>
            <mark>Ego vero isti, inquam, permitto.</mark> Duo Reges: constructio interrete.
        </p>
        <dl>
            <dt><dfn>Stoici scilicet.</dfn></dt>
            <dd>An hoc usque quaque, aliter in vita?</dd>
            <dt><dfn>Erat enim Polemonis.</dfn></dt>
            <dd>Quod cum accidisset ut alter alterum necopinato videremus, surrexit statim.</dd>
        </dl>
    </Body>
    <Footer>
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => modal.Close()">Close</button>
    </Footer>
</ModalDialog>

@code {
    private ModalDialog modal { get; set; }
}

